.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #b93131; }

.reveal a:not(.image) {
  color: #e31d1d; }

.reveal a:not(.image):hover {
  color: #e31d1d; }

.reveal .roll span:after {
  background: #e31d1d; }

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #b93131; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #b93131; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #b93131; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #b93131; }

.reveal .progress span {
  background: #b93131;
}